<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795260135491-1uh3qj80j7iv2jfvc9g9ftrqqcernmdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795260135491-1uh3qj80j7iv2jfvc9g9ftrqqcernmdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAApfWEJBXeizHMyGwOB4maUeVYRsj09ME</string>
	<key>GCM_SENDER_ID</key>
	<string>795260135491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plamena.PhotoShare</string>
	<key>PROJECT_ID</key>
	<string>photoshare-ce198</string>
	<key>STORAGE_BUCKET</key>
	<string>photoshare-ce198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795260135491:ios:0dcb5c081e3fef01d2ccf6</string>
	<key>DATABASE_URL</key>
	<string>https://photoshare-ce198.firebaseio.com</string>
</dict>
</plist>